* {
    padding: 0;
    margin: 0;
}


/* 1 ---------------- Google Fonts ---------------- */
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@500&family=Roboto:wght@400;700&display=swap');

.robotoRegular {
    font-size: 0.7rem;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-style: normal;
    text-decoration: none;
}

.robotoSemibold {
    font-size: 0.8rem;
    font-family: 'Roboto', sans-serif;
    font-weight: 600;
    font-style: normal;
    text-decoration: none;
    color: RGB(230, 87, 44);
}

.robotoBold {
    font-size: 1rem;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-style: normal;
    text-decoration: none;
}

.manropeMedium {
    font-family: 'Manrope', sans-serif;
    font-weight: 500;
    font-style: normal;
    text-decoration: none;
}

/* 2 ---------------- Generales + Body ---------------- */
.noBullet {
    list-style-type: none;
    padding-inline: 0%;
}

/* 3 ---------------- Grid ---------------- */
/* 3.1 ---- Grid Index ----  */
.main__grid {
    display: grid;
    column-gap: 3%;
    row-gap: 20%;
    height: 275px;
    grid-template-columns: 1.4fr 1fr;
    grid-template-rows: 0.25fr 0.85fr repeat(2, 1fr) 1.4fr repeat(2, 1.6fr) 0.6fr;
    grid-template-areas:
        "header header"
        "section-buscador section-buscador"
        "section-recetas section-recetas"
        "section-categorias section-categorias"
        "section-app section-app"
        "section-newsUno section-newsAside"
        "section-newsDos section-newsAside"
        "footer footer"
    ;
}

/* 3.2 ---- Grid Recetas ---- */
.main__grid--recetas {
    display: grid;
    height: 275px;
    grid-template-rows: 0.25fr 1.3fr 0.5fr repeat(2, 1fr) 0.6fr;
    grid-template-areas:
    "header"
    "section-carousel"
    "section-buscador"
    "section-categorias"
    "section-recetas"
    "footer"
    ;
}

/* 3.3 ---- Grid Sobre Nosotros ---- */
.main__grid--sobreNosotros {
    display: grid;
    column-gap: 4%;
    row-gap: 20%;
    height: 275px;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 0.25fr repeat(2, 1fr) 0.6fr;
    grid-template-areas:
        "header header"
        "section-infoSN section-asideSN"
        "section-carousel section-carousel"
        "footer footer"
    ;
}


/* 3.4 ---- Grid Contacto ---- */
.main__grid--contacto {
    display: grid;
    height: 275px;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 0.25fr 1fr 0.6fr;
    grid-template-areas:
    "header header"
    "section-formText section-form"
    "footer footer"
    ;
}

/* 3.5 ---- Grid Inicio Sesion + Registro ---- */
.main__grid--sesion {
    display: grid;
    height: 275px;
    grid-template-columns: 0.5fr 1fr 0.5fr;
    grid-template-rows: 0.25fr 1fr 0.6fr;
    grid-template-areas:
    "header header header"
    ". sesion-form ."
    "footer footer footer"
    ;
}


/* 3.6 ---- Grid Areas ---- */
.grid__header {
    grid-area: header;
}

.grid__footer {
    grid-area: footer;
}

.grid__buscador {
    grid-area: section-buscador;
}

.grid__recetas {
    grid-area: section-recetas;
}

.grid__categorias {
    grid-area: section-categorias;
}

.grid__app {
    grid-area: section-app;
}

.grid__newsUno {
    grid-area: section-newsUno;
}

.grid__newsDos {
    grid-area: section-newsDos;
}

.grid__newsAside {
    grid-area: section-newsAside;
}

.grid__carousel {
    grid-area: section-carousel;
}

.grid__infoSN {
    grid-area: section-infoSN;
}

.grid__asideSN {
    grid-area: section-asideSN;
}

.grid__formText {
    grid-area: section-formText;
}

.grid__form {
    grid-area: section-form;
}

.grid__sesion {
    grid-area: sesion-form;
}

/* Grid Padding */
.grid__padding--left {
    padding-left: 70px;
}

.grid__padding--right {
    padding-right: 70px;
}

/* 4 ---------------- Header + Nav ---------------- */
.navBar {
    height: 70px;
    background-color: rgb(255, 255, 255);
    background-position-y: top;
    background-size: 100%;
    color: RGB(230, 87, 44);
    border: none;
    border-bottom: 0.013rem solid #b6b6b6;
    box-shadow: 0rem 1.25rem 1.25rem -1.6rem rgb(88, 88, 88);
}

.navBar__links {
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-wrap: nowrap;
}

.navBar__links--center {
    width: 35%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-wrap: nowrap;
}

.navBar__links--center li a:hover {
    color: #ffffff;
    background-color: RGB(230, 87, 44, 50%);
    text-align: center;
    padding-left: 0.75rem;
    padding-right: 0.75rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    border-radius: 0.375rem;
    margin-left: -0.75rem;
    margin-right: -0.75rem;
}

.navBar__links--login {
    width: 220px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-wrap: nowrap;
}

.navBar__links--login li a:hover {
    color: RGB(230, 87, 44, 50%);
}

#logoNavBar {
    width: 120px;
}

#registroButton {
    color: #ffffff;
    background-color: RGB(230, 87, 44);
    text-align: center;
    padding-left: 0.75rem;
    padding-right: 0.75rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    border-radius: 0.375rem;
}

#registroButton:hover {
    color: #ffffff;
    background-color: RGB(230, 87, 44, 50%);
    text-align: center;
    padding-left: 0.75rem;
    padding-right: 0.75rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    border-radius: 0.375rem;
}

/* 5 ---------------- Footer ---------------- */
.main__footer {
    position: absolute;
    width: 100%;
    height: 70px;
    background: rgb(230, 87, 44);
    background-position-y: bottom;
    border-top: 1px solid rgb(146, 146, 146);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.footer__links {
    width: 200px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.footer__links--img {
    height: 17px;
}

.footer__legal {
    width: 70%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-wrap: nowrap;
}

.footer__legal--texto {
    font-weight: 200;
    margin-bottom: 0%;
}

.footer__legal--links {
    font-weight: 200;
    color: white;
    font-size: 0.7rem;
}


/* 6 ---------------- INDEX ---------------- */
/* 6.1 ---- BUSCADOR ---- */
.buscador {
    height: 200px;
    background-image: url(../imgs/logoBodyIndex.png);
    background-repeat: no-repeat;
    background-size: 175px;
    background-position-y: 30px;
    background-position-x: center;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: flex-end;
}

.buscador__icono {
    width: 30px;
    height: 30px;
    margin-right: 20px;
    margin-top: 7.5px;
    margin-bottom: 7.5px;
}

.buscador__barra {
    width: 490px;
    height: 40px;
    border: none;
    border-radius: 10px;
    background-color: #F0F0F0;
    padding-left: 15px;
    padding-right: 15px;
    font-size: 0.8rem;
}

/* 6.2 ---- RECETAS ---- */
.recetas {
    height: 250px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.recetas__titulo {
    align-self: flex-start;
    padding-bottom: 0.7%;
}

.recetas__cards {
    height: 220px;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
}

/* Cards Bootstrap */
.card {
    max-height: 70%;
    max-width: 15%;
    margin: 0%;
    padding: 0%;
    border: none;
}

.card-img-top {
    min-height: 70%;
    min-width: 100%;
    object-fit: cover;
    margin-bottom: -0.5rem;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.card-body {
    max-height: 30%;
    overflow-y: visible;
    margin: 0%;
    margin-top: 1rem;
    padding: 0%;
}

.card-title {
    max-height: 20%;
    font-size: 0.975rem;
    margin-bottom: 40px;
}

.card-text {
    max-height: 80%;
    margin-top: 1rem;
    font-size: 0.75rem;
    line-height: 1rem;
}

/* 6.3 ---- CATEGORIAS ---- */
.categorias {
    height: 250px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.categorias__titulo {
    align-self: flex-start;
    padding-bottom: 0.7%;
    text-align: start;
}

.categorias__row {
    height: 50%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-self: normal;
}

.categorias__card {
    max-width: 9%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.categorias__card--titulo {
    font-size: 0.75rem;
}

.categorias__card--img {
    width: 100%;
    height: 65%;
    object-fit: cover;
    border-top-right-radius: 15px;
    border-top-left-radius: 15px;
}

/* 6.4 ---- APP AD ---- */
.app__ad {
    max-width: 100%;
    height: 280px;
    background-color: rgba(0, 100, 90, 0.25);
    margin-left: 70px;
    margin-right: 70px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: flex-start;
    background-image: url(../imgs/mockupsApp.png);
    background-size: 240px;
    background-repeat: no-repeat;
    background-position-x: 90%;
    background-position-y: center;
    padding-top: 40px;
    padding-bottom: 40px;
}

.ad__texto--chico {
    font-size: 1rem;
}

.ad__texto--grande {
    font-size: 2rem;
    width: 50%;
}

.ad__texto--s {
    font-weight: 800;
    color: RGB(230, 87, 44)
}

.ad__downloadLogos {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

.app__androidLogo {
    height: 27.5px;
    padding-right: 15px;
}

.app__iosLogo {
    height: 27.5px;
}

/* 6.5 ---- NEWSLETTER ---- */
/* Noticia grande */
.newsletter__noticia {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
}

.noticia__imagen {
    height: 260px;
    width: 100%;
    object-fit: cover;
    margin-bottom: -26px;
    border-radius: 15px;
}

.noticia__descripcion {
    background-color: white;
    min-height: 80px;
    width: 85%;
    border: 0.012rem solid #b6b6b6;
    position: relative;
    z-index: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    box-shadow: 0rem 1.25rem 1.25rem -1.6rem rgb(88, 88, 88);
}

.descripcion__titulo {
    color: rgba(0, 100, 90, 1);
    font-style: italic;
    text-align: center;
    max-width: 80%;
    margin: 0 auto;
    font-size: 1rem;
}

.descripcion__divider {
    width: 47px;
    height: 1px;
    margin: 0 auto;
}

.descripcion__autor {
    margin: 0 auto;
    color: rgba(230, 87, 44, 1);
    font-size: 0.675rem;
}

/* Aside noticias chicas */
.newsletter__noticia--aside {
    height: 675px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.noticia__aside {
    height: 100px;
    width: 100%;
    display: flex;
    align-items: flex-start;
}

.aside__imagen {
    height: 80%;
    min-width: 40%;
    object-fit: cover;
    border-radius: 15px;
}

.aside__descripcion {
    height: 80%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.descripcionA__titulo {
    color: rgba(0, 100, 90, 1);
    font-style: italic;
    font-size: 0.775rem;
    padding-left: 25px;
    margin-bottom: 0;
}

.descripcionA__divider {
    margin-left: 25px;
    width: 47px;
    margin-top: 0;
    margin-bottom: 0;
}

.descripcionA__autor {
    color: rgba(230, 87, 44, 1);
    font-size: 0.7rem;
    padding-left: 25px;
    margin-bottom: 0;
}


/* 7 ---------------- RECETAS ---------------- */
/* 7.1 ---- CAROUSEL ---- */
/* Carousel Bootstrap */
.carousel-item {
    height: 400px;
}
.carousel-item img {
    object-fit: cover;
    transform: translateY(-30%);
}

/* 7.2 ---- BUSCADOR ---- */
.buscador--recetas {
    height: 150px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
}

.buscador__barra--recetas {
    min-width: 60%;
    height: 60px;
    border: none;
    border-radius: 10px;
    background-color: #F0F0F0;
    padding-left: 1%;
    padding-right: 1%;
    font-size: 1rem;
}

.buscador__icono--recetas {
    width: 40px;
    height: 40px;
    margin-right: 20px;
    margin-top: 7.5px;
    margin-bottom: 7.5px;
}

/* 7.3 ---- CATEGORIAS ---- */
.categorias--recetas {
    height: 100%;
    padding-bottom: 2%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

/* 7.4 ---- RECETAS ---- */
.recetas--recetas {
    height: 100%;
    padding-bottom: 2%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}


/* 8 ---------------- SOBRE NOSOTROS ---------------- */
/* 8.1 ---- INFO SOBRE NOSOTROS --- */
.info__texto {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.info__texto h1 {
    font-size: 2.25rem;
}

.info__texto p {
    font-size: 1rem;
    font-weight: 400;
    text-align: justify;
}

.info__texto p strong {
    color: rgb(230, 87, 44);
    font-weight: 650;
}

/* 8.2 ---- FUNCIONALIDADES ---- */
.section__funct {
    height: 300px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
}

.funct__sobreNosotros {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

.funct__sobreNosotros img {
    width: 50px;
}

.funct__sobreNosotros p {
    font-size: 0.85rem;
    padding-left: 5%;
    margin-bottom: 0px;
}

.funct__sobreNosotros p strong {
    color: rgba(0, 100, 90, 1);
    font-weight: 900;
}


/* 8.3 ---- CAROUSEL FOTOS ---- */
#carouselExampleSlidesOnly {
    height: 100%;
    margin-bottom: -55px;
}


/* 9 ---------------- CONTACTO ---------------- */
/* 9.1 ---- TEXTO FEEDBACK --- */
.contacto__texto {
    height: 600px;
    width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding-top: 70px;
    padding-bottom: 70px;
    background-image: url(../imgs/logoBodyIndex.png);
    background-repeat: no-repeat;
    background-size: 250px;
    background-position-y: 90%;
    background-position-x: 70px;
}

.contacto__texto h1 {
    font-size: 2rem;
    padding-bottom: 20px;
}

.contacto__texto p {
    font-size: 0.95rem;
    width: 100%;
    padding-bottom: 10px;
}

.contacto__texto p:nth-child(4) {
    font-weight: 700;
    font-style: italic;
}

/* 9.2 ---- FORMULARIO --- */
.contacto__form {
    height: 600px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
    padding-top: 70px;
    padding-bottom: 70px;
}

#form__nombre {
    min-width: 90%;
    height: 3.5rem;
    border: none;
    border-radius: 0.86rem;
    background-color: #F0F0F0;
    font-size: 1rem;
    padding-left: 1.393rem;
}

#form__email {
    min-width: 90%;
    height: 3.5rem;
    border: none;
    border-radius: 0.86rem;
    background-color: #F0F0F0;
    font-size: 1rem;
    padding-left: 1.393rem;
}

#form__mensaje {
    min-width: 90%;
    height: 15rem;
    border: none;
    border-radius: 0.86rem;
    background-color: #F0F0F0;
    font-size: 1rem;
    padding-left: 1.393rem;
    padding-top: 1.5rem;
}

#boton__submit {
    padding: 0.6rem;
    padding-right: 2.3rem;
    padding-left: 2.3rem;
    margin-right: 1rem;
    font-size: 1rem;
    color: #FFFFFF;
    background-color: #00645A;
    border: none;
    border-radius: 0.375rem;
    text-align: center;
}

#boton__submit:hover {
    background-color: rgb(0, 100, 90, 75%);
}

#boton__reset {
    padding: 0.6rem;
    padding-right: 1em;
    padding-left: 1rem;
    font-size: 1rem;
    color: #FFFFFF;
    background-color: #00645A;
    border: none;
    border-radius: 0.375rem;
    text-align: center;
}

#boton__reset:hover {
    background-color: rgb(0, 100, 90, 75%)
}


/* 10 ---------------- INICIAR SESION + REGISTRO ---------------- */
/* 10.1 ---- FORMULARIO --- */
.section__sesion {
    height: 550px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.sesion__titulo {
    width: 80%;
    text-align: center;
    font-size: 1.5rem;
}

#boton__login {
    padding: 0.6rem;
    padding-right: 1.5rem;
    padding-left: 1.5rem;
    margin-right: 1rem;
    font-size: 1rem;
    color: #FFFFFF;
    background-color: #00645A;
    border: none;
    border-radius: 0.375rem;
    text-align: center;
}

.sesion__texto {
    padding-bottom: 15%;
    text-align: center;
}

.sesion__texto p {
    font-size: 0.8rem;
}

.sesion__texto a {
    text-decoration: underline;
    color: black;
    font-size: 0.8rem;
}


/* 11 ---------------- MEDIA QUERIES ---------------- */
/* 11.1 ----------------------------- XS ----------------------------- */
@media screen and (min-width: 432px) and (max-width: 566px) {
    /* 11.1.1 -- Header + Nav -- */
    .robotoSemibold {
        font-weight: 550;   
        font-size: 0.7rem;
    }
    
    .navBar {
        height: 100px;
    }
    
    .navBar__links {
        align-items: flex-start;
        padding-top: 10px;
        padding-bottom: 10px;
    }

    .navBar__links--center {
        min-width: 75%;
        max-width: 80%;
        margin-left: -85px;
        margin-right: -190px;
        align-self: flex-end;
    }
    
    .navBar__links--login {
        width: 190px;
        scale: 90%;
    }

    
    #logoNavBar {
        width: 85px;
    }
    
    #registroButton {
        color: #ffffff;
        background-color: RGB(230, 87, 44);
        text-align: center;
        padding-left: 0.5rem;
        padding-right: 0.5rem;
        padding-top: 0.4rem;
        padding-bottom: 0.4rem;
        border-radius: 0.2rem;
        }
    
    /* 11.1.2 -- Footer -- */
    .main__footer {
        height: 150px;
        flex-direction: column;
        justify-content: space-around;
    }

    .footer__links-- img {
        height: 20px;
    }

    .footer__legal {
        height: 65%;
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        justify-content: space-around;
        align-items: center;
    }

    .footer__legal--links {
        font-weight: 100;
        font-size: 0.6rem;
    }

    /* 11.1.3 -- Index -- */
    /* 11.1.3.1 Grid */
    .main__grid {
        display: grid;
        row-gap: 30px;
        height: 300px;
        grid-template-columns: 1fr;
        grid-template-rows: 0.25fr 0.85fr repeat(2, 1fr) 1.4fr repeat(3, 1.6fr) 0.6fr;
        grid-template-areas:
            "header"
            "section-buscador"
            "section-recetas"
            "section-categorias"
            "section-app"
            "section-newsUno"
            "section-newsDos"
            "section-newsAside"
            "footer"
        ;
    }
    
    .grid__padding--left {
        padding-left: 10px;
    }

    .grid__padding--right {
        padding-right: 10px;
    }

    /* 11.1.3.2 Buscador */
    .buscador__barra {
        width: 70%;
    }

    /* 11.1.3.3 Recetas */
    .recetas {
        min-height: 625px;
        min-width: 30%;
        max-width: 100%;
    }

    .recetas__titulo {
        font-size: 0.9rem;
    }
    .recetas__cards {
        flex-wrap: wrap;
        height: 100%;
    }

    .card {
        max-height: 150px;
        min-width: 33%;
        max-width: 45%;
    }

    .card-img-top {
        height: 40%;
    }
    
    .card-body {
        max-height: 70%;
    }
    
    .card-title {
        margin-bottom: 0px;
        font-size: 0.85rem;
    }
    
    .card-text {
        margin-top: 0.5rem;
        font-size: 0.575rem;
    }

    /* 11.1.3.4 Categorias */
    .categorias {
        min-height: 420px;
        min-width: 432px;
        max-width: 566px;
    }

    .categorias__titulo {
        font-size: 0.9rem;
    }

    .categorias__row {
        flex-wrap: wrap;
        height: 100%;
    }

    .categorias__card {
        max-height: 100px;
        max-width: 19%;
    }

    .categorias__card--titulo {
        font-size: 0.675rem;
    }

    /* 11.1.3.5 App Ad */
    .app__ad {
        height: 300;
        margin-left: 10px;
        margin-right: 10px;
        background-size: 30%;
    }

    .ad__texto--chico {
        font-size: 0.7rem;
    }

    .ad__texto--grande {
        font-size: 1.2rem;
        width: 60%;
    }

    /* 11.1.3.6 Newsletter */
    .newsletter__noticia {
        padding-right: 10px;
    }

    .newsletter__noticia--aside {
        padding-left: 10px;
    }

    /* 11.1.4 -- Recetas -- */
    /* 11.1.4.1 Carousel */
    .carousel-item {
        height: 200px;
    }
    .carousel-item img {
        object-fit: cover;
        transform: translateY(-30%);
    }

    .carousel-caption h1 {
        font-size: 1.3rem;
    }

    .carousel-caption p {
        font-size: 0.675rem;
    }


    /* 11.1.4.2 Buscador */
    .buscador__icono--recetas {
        width: 25px;
        height: 25px;
    }
    .buscador__barra--recetas {
        height: 45px;
        min-width: 70%;
        font-size: 0.8rem;
    }

    /* 11.1.4.3 Recetas */
    .recetas--recetas {
        min-height: 625px;
        min-width: 432px;
        max-width: 566px;
    }

    /* 11.1.5 -- Sobre Nosotros -- */
    /* 11.1.5.1 Grid */
    .main__grid--sobreNosotros {
        display: grid;
        row-gap: 20%;
        height: 275px;
        grid-template-columns: 1fr;
        grid-template-rows: 0.25fr repeat(3, 1fr) 0.6fr;
        grid-template-areas:
            "header"
            "section-infoSN"
            "section-asideSN"
            "section-carousel"
            "footer"
        ;
    }

    /* 11.1.5.2 Info */
    .info__texto {
        padding-right: 10px;
    }

    .info__texto h1 {
        font-size: 2rem;
    }

    .info__texto p {
        font-size: 0.85rem;
    }

    /* 11.1.5.3 Funcionalidades */
    .section__funct {
        padding-left: 10px;
    }

    /* 11.1.5.4 Carousel Fotos */
    #carouselExampleSlidesOnly {
        margin-bottom: -85px;
    }

    /* 11.1.6 -- Contacto -- */
    /* 11.1.6.1 Grid */
    .main__grid--contacto{
        display: grid;
        row-gap: 20%;
        height: 100px;
        grid-template-columns: 1fr;
        grid-template-rows: 0.25fr repeat(2, 1fr) 0.6fr;
        grid-template-areas:
            "header"
            "section-formText"
            "section-form"
            "footer"
        ;
    }
    
    /* 11.1.6.2 Texto Feedback */
    .contacto__texto {
        padding-top: 20px;
        height: 500px;
        background-position-x: center;
    }

    .contacto__texto h1 {
        font-size: 1.8rem;
    }

    .contacto__texto p {
        font-size: 0.9rem;
    }

    /* 11.1.6.3 Formulario */
    .contacto__form {
        align-items: center;
        padding-left: -10px;
    }

    /* 11.1.7 -- Iniciar Sesion + Registro */
    /* 11.1.7.1 Formulario */
        /* 12.2.7 -- Iniciar Sesion + Registro -- */
    /* 12.2.7.1 Formulario */
    .main__grid--sesion {
        display: grid;
        height: 275px;
        grid-template-columns: 0.1fr 1fr 0.1fr;
        grid-template-rows: 0.25fr 1fr 0.6fr;
        grid-template-areas:
        "header header header"
        ". sesion-form ."
        "footer footer footer"
        ;
    }

    .sesion__titulo {
        font-size: 1.2rem;
        width: 100%;
    }

    #boton__login {
        margin-left: 5%;
    }

}

/* 11.2 ----------------------------- S ----------------------------- */
@media screen and (min-width: 567px) and (max-width: 767px) {
    /* 11.2.1 -- Header + Nav -- */
    .robotoSemibold {
        font-weight: 550;   
        font-size: 0.7rem;
    }
    
    .navBar {
        height: 60px;
    }
    
    .navBar__links--center {
        width: 40%;
        scale: 95%;
    }
    
    .navBar__links--login {
        width: 185px;
        scale: 95%;
    }
    
    #logoNavBar {
        width: 80px;
    }
    
    #registroButton {
        color: #ffffff;
        background-color: RGB(230, 87, 44);
        text-align: center;
        padding-left: 0.5rem;
        padding-right: 0.5rem;
        padding-top: 0.4rem;
        padding-bottom: 0.4rem;
        border-radius: 0.2rem;
    }
    
    /* 11.2.2 -- Footer -- */
    .main__footer {
        height: 100px;
        flex-direction: column;
        justify-content: space-around;
    }

    .footer__links-- img {
        height: 20px;
    }

    .footer__legal {
        width: 100%;
    }

    .footer__legal--links {
        font-weight: 300;
        font-size: 0.6rem;
    }

    /* 11.2.3 -- Index -- */
    /* 11.2.3.1 Grid */
    .main__grid {
        display: grid;
        row-gap: 30px;
        height: 300px;
        grid-template-columns: 1fr;
        grid-template-rows: 0.25fr 0.85fr repeat(2, 1fr) 1.4fr repeat(3, 1.6fr) 0.6fr;
        grid-template-areas:
            "header"
            "section-buscador"
            "section-recetas"
            "section-categorias"
            "section-app"
            "section-newsUno"
            "section-newsDos"
            "section-newsAside"
            "footer"
        ;
    }
    
    .grid__padding--left {
        padding-left: 10px;
    }

    .grid__padding--right {
        padding-right: 10px;
    }

    /* 11.2.3.2 Recetas */
    .recetas {
        height: 550px;
        min-width: 576px;
        max-width: 739px;
    }
    .recetas__cards {
        flex-wrap: wrap;
        height: 100%;
    }

    .card {
        max-height: 200px;
        min-width: 180px;
    }

    .card-img-top {
        height: 40%;
    }
    
    .card-body {
        max-height: 70%;
    }
    
    .card-title {
        margin-bottom: 0px;
    }
    
    .card-text {
        margin-top: 0.5rem;
        font-size: 0.7rem;
    }

    /* 11.2.3.3 Categorias */
    .categorias {
        min-height: 420px;
        min-width: 576px;
        max-width: 739px;
    }

    .categorias__row {
        flex-wrap: wrap;
        height: 100%;
    }

    .categorias__card {
        max-height: 100px;
        max-width: 19%;
    }

    /* 11.2.3.4 App Ad */
    .app__ad {
        height: 300;
        margin-left: 10px;
        margin-right: 10px;
    }

    .ad__texto--chico {
        font-size: 0.775rem;
    }

    .ad__texto--grande {
        font-size: 1.5rem;
    }

    /* 11.2.3.5 Newsletter */
    .newsletter__noticia {
        padding-right: 10px;
    }

    .newsletter__noticia--aside {
        padding-left: 10px;
    }

    /* 11.2.4 -- Recetas -- */
    /* 11.2.4.1 Carousel */
    .carousel-item {
        height: 200px;
    }
    .carousel-item img {
        object-fit: cover;
        transform: translateY(-30%);
    }

    .carousel-caption h1 {
        font-size: 1.3rem;
    }

    .carousel-caption p {
        font-size: 0.675rem;
    }

    /* 11.2.4.2 Buscador */
    .buscador__icono--recetas {
        width: 25px;
        height: 25px;
    }
    .buscador__barra--recetas {
        height: 45px;
        min-width: 70%;
        font-size: 0.8rem;
    }

    /* 11.2.4.3 Recetas */
    .recetas--recetas {
        min-height: 550px;
        min-width: 576px;
        max-width: 739px;
    }

    /* 11.2.5 -- Sobre Nosotros -- */
    /* 11.2.5.1 Grid */
    .main__grid--sobreNosotros {
        display: grid;
        row-gap: 20%;
        height: 275px;
        grid-template-columns: 1fr;
        grid-template-rows: 0.25fr repeat(3, 1fr) 0.6fr;
        grid-template-areas:
            "header"
            "section-infoSN"
            "section-asideSN"
            "section-carousel"
            "footer"
        ;
    }

    /* 11.2.5.2 Info */
    .info__texto {
        padding-right: 10px;
    }
    /* 11.2.5.3 Funcionalidades */
    .section__funct {
        padding-left: 10px;
    }

    /* 11.2.6 -- Contacto -- */
    /* 11.2.6.1 Grid */
    .main__grid--contacto{
        display: grid;
        row-gap: 20%;
        height: 275px;
        grid-template-columns: 1fr;
        grid-template-rows: 0.25fr repeat(2, 1fr) 0.6fr;
        grid-template-areas:
            "header"
            "section-formText"
            "section-form"
            "footer"
        ;
    }
    
    /* 11.2.6.2 Texto Feedback */
    .contacto__texto {
        height: 500px;
        background-position-x: center;
        padding-top: 20px;
        padding-bottom: 20px;
    }

    .contacto__texto h1 {
        font-size: 2rem;
        padding-bottom: 30px;
    }

    .contacto__texto p {
        font-size: 1.2rem;
    }

    /* 11.2.6.3 Formulario */
    .contacto__form {
        align-items: center;
        padding-left: -10px;
    }

    #form__mensaje {
        height: 15rem;
    }


    /* 11.2.7 -- Iniciar Sesion + Registro -- */
    /* 11.2.7.1 Formulario */
    .main__grid--sesion {
        display: grid;
        height: 275px;
        grid-template-columns: 0.1fr 1fr 0.1fr;
        grid-template-rows: 0.25fr 1fr 0.6fr;
        grid-template-areas:
        "header header header"
        ". sesion-form ."
        "footer footer footer"
        ;
    }

    #boton__login {
        margin-left: 5%;
    }

}
