* {
  padding: 0;
  margin: 0;
}

.noBullet {
  list-style-type: none;
  padding-inline: 0%;
}

.robotoRegular {
  font-size: 0.7rem;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
  text-decoration: none;
}

.robotoSemibold {
  font-size: 0.8rem;
  font-family: "Roboto", sans-serif;
  font-weight: 600;
  font-style: normal;
  text-decoration: none;
  color: RGB(230, 87, 44);
}

.robotoBold {
  font-size: 1rem;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-style: normal;
  text-decoration: none;
}

.manropeMedium {
  font-family: "Manrope", sans-serif;
  font-weight: 500;
  font-style: normal;
  text-decoration: none;
}

@media screen and (min-width: 320px) and (max-width: 431px) {
  .robotoSemibold {
    font-weight: 550;
    font-size: 0.7rem;
  }
}
@media screen and (min-width: 432px) and (max-width: 566px) {
  .robotoSemibold {
    font-weight: 550;
    font-size: 0.7rem;
  }
}
@media screen and (min-width: 567px) and (max-width: 767px) {
  .robotoSemibold {
    font-weight: 550;
    font-size: 0.7rem;
  }
}
@media screen and (min-width: 768px) and (max-width: 1023px) {
  .robotoSemibold {
    font-weight: 550;
    font-size: 0.7rem;
  }
}
.scale {
  transition: all 0.5s;
}
.scale:hover {
  transform: scale(1.2);
}

.main__grid {
  display: grid;
  height: 275px;
  column-gap: 3%;
  row-gap: 20%;
  grid-template-columns: 1.4fr 1fr;
  grid-template-rows: 0.25fr 0.85fr repeat(2, 1fr) 1.4fr repeat(2, 1.6fr) 0.6fr;
  grid-template-areas: "header header" "section-buscador section-buscador" "section-recetas section-recetas" "section-categorias section-categorias" "section-app section-app" "section-newsUno section-newsAside" "section-newsDos section-newsAside" "footer footer";
}

.main__grid--recetas {
  display: grid;
  height: 275px;
  grid-template-rows: 0.25fr 1.3fr 0.5fr repeat(2, 1fr) 0.6fr;
  grid-template-areas: "header" "section-carousel" "section-buscador" "section-categorias" "section-recetas" "footer";
}

.main__grid--sobreNosotros {
  display: grid;
  height: 275px;
  column-gap: 3%;
  row-gap: 20%;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 0.25fr repeat(2, 1fr) 0.6fr;
  grid-template-areas: "header header" "section-infoSN section-asideSN" "section-carousel section-carousel" "footer footer";
}

.main__grid--contacto {
  display: grid;
  height: 275px;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 0.25fr 1fr 0.6fr;
  grid-template-areas: "header header" "section-formText section-form" "footer footer";
}

.main__grid--sesion {
  display: grid;
  height: 275px;
  grid-template-columns: 0.5fr 1fr 0.5fr;
  grid-template-rows: 0.25fr 1fr 0.6fr;
  grid-template-areas: "header header header" ". sesion-form ." "footer footer footer";
}

.grid__header {
  grid-area: header;
}

.grid__footer {
  grid-area: footer;
}

.grid__buscador {
  grid-area: section-buscador;
}

.grid__recetas {
  grid-area: section-recetas;
}

.grid__categorias {
  grid-area: section-categorias;
}

.grid__app {
  grid-area: section-app;
}

.grid__newsUno {
  grid-area: section-newsUno;
}

.grid__newsDos {
  grid-area: section-newsDos;
}

.grid__newsAside {
  grid-area: section-newsAside;
}

.grid__carousel {
  grid-area: section-carousel;
}

.grid__infoSN {
  grid-area: section-infoSN;
}

.grid__asideSN {
  grid-area: section-asideSN;
}

.grid__formText {
  grid-area: section-formText;
}

.grid__form {
  grid-area: section-form;
}

.grid__sesion {
  grid-area: sesion-form;
}

.grid__padding--left {
  padding-left: 70px;
}

.grid__padding--right {
  padding-right: 70px;
}

@media screen and (min-width: 320px) and (max-width: 431px) {
  .main__grid {
    display: grid;
    row-gap: 20px;
    height: 300px;
    grid-template-columns: 1fr;
    grid-template-rows: 0.25fr 0.85fr repeat(2, 1fr) 1.4fr repeat(3, 1.6fr) 0.6fr;
    grid-template-areas: "header" "section-buscador" "section-recetas" "section-categorias" "section-app" "section-newsUno" "section-newsDos" "section-newsAside" "footer";
  }
  .main__grid--sobreNosotros {
    display: grid;
    row-gap: 20%;
    height: 275px;
    grid-template-columns: 1fr;
    grid-template-rows: 0.25fr repeat(3, 1fr) 0.6fr;
    grid-template-areas: "header" "section-infoSN" "section-asideSN" "section-carousel" "footer";
  }
  .main__grid--contacto {
    display: grid;
    row-gap: 20%;
    height: 100px;
    grid-template-columns: 1fr;
    grid-template-rows: 0.25fr repeat(2, 1fr) 0.6fr;
    grid-template-areas: "header" "section-formText" "section-form" "footer";
  }
  .main__grid--sesion {
    display: grid;
    height: 275px;
    grid-template-columns: 0.1fr 1fr 0.1fr;
    grid-template-rows: 0.25fr 1fr 0.6fr;
    grid-template-areas: "header header header" ". sesion-form ." "footer footer footer";
  }
  .grid__padding--left {
    padding-left: 10px;
  }
  .grid__padding--right {
    padding-right: 10px;
  }
}
@media screen and (min-width: 432px) and (max-width: 566px) {
  .main__grid {
    display: grid;
    row-gap: 30px;
    height: 300px;
    grid-template-columns: 1fr;
    grid-template-rows: 0.25fr 0.85fr repeat(2, 1fr) 1.4fr repeat(3, 1.6fr) 0.6fr;
    grid-template-areas: "header" "section-buscador" "section-recetas" "section-categorias" "section-app" "section-newsUno" "section-newsDos" "section-newsAside" "footer";
  }
  .main__grid--sobreNosotros {
    display: grid;
    row-gap: 20%;
    height: 275px;
    grid-template-columns: 1fr;
    grid-template-rows: 0.25fr repeat(3, 1fr) 0.6fr;
    grid-template-areas: "header" "section-infoSN" "section-asideSN" "section-carousel" "footer";
  }
  .main__grid--contacto {
    display: grid;
    row-gap: 20%;
    height: 100px;
    grid-template-columns: 1fr;
    grid-template-rows: 0.25fr repeat(2, 1fr) 0.6fr;
    grid-template-areas: "header" "section-formText" "section-form" "footer";
  }
  .main__grid--sesion {
    display: grid;
    height: 275px;
    grid-template-columns: 0.1fr 1fr 0.1fr;
    grid-template-rows: 0.25fr 1fr 0.6fr;
    grid-template-areas: "header header header" ". sesion-form ." "footer footer footer";
  }
  .grid__padding--left {
    padding-left: 10px;
  }
  .grid__padding--right {
    padding-right: 10px;
  }
}
@media screen and (min-width: 567px) and (max-width: 767px) {
  .main__grid {
    display: grid;
    row-gap: 30px;
    height: 300px;
    grid-template-columns: 1fr;
    grid-template-rows: 0.25fr 0.85fr repeat(2, 1fr) 1.4fr repeat(3, 1.6fr) 0.6fr;
    grid-template-areas: "header" "section-buscador" "section-recetas" "section-categorias" "section-app" "section-newsUno" "section-newsDos" "section-newsAside" "footer";
  }
  .main__grid--sobreNosotros {
    display: grid;
    row-gap: 20%;
    height: 275px;
    grid-template-columns: 1fr;
    grid-template-rows: 0.25fr repeat(3, 1fr) 0.6fr;
    grid-template-areas: "header" "section-infoSN" "section-asideSN" "section-carousel" "footer";
  }
  .main__grid--contacto {
    display: grid;
    row-gap: 20%;
    height: 275px;
    grid-template-columns: 1fr;
    grid-template-rows: 0.25fr repeat(2, 1fr) 0.6fr;
    grid-template-areas: "header" "section-formText" "section-form" "footer";
  }
  .main__grid--sesion {
    display: grid;
    height: 275px;
    grid-template-columns: 0.1fr 1fr 0.1fr;
    grid-template-rows: 0.25fr 1fr 0.6fr;
    grid-template-areas: "header header header" ". sesion-form ." "footer footer footer";
  }
  .grid__padding--left {
    padding-left: 10px;
  }
  .grid__padding--right {
    padding-right: 10px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1023px) {
  .main__grid {
    grid-template-columns: 1.2fr 1fr;
    row-gap: 20px;
  }
  .grid__padding--left {
    padding-left: 20px;
  }
  .grid__padding--right {
    padding-right: 20px;
  }
}
@media screen and (min-width: 1024px) and (max-width: 1199px) {
  .main__grid {
    row-gap: 40px;
  }
  .grid__padding--left {
    padding-left: 40px;
  }
  .grid__padding--right {
    padding-right: 40px;
  }
}
.navBar {
  height: 70px;
  background-color: rgb(255, 255, 255);
  background-position-y: top;
  background-size: 100%;
  color: rgb(230, 87, 44);
  border: none;
  border-bottom: 0.013rem solid #b6b6b6;
  box-shadow: 0rem 1.25rem 1.25rem -1.6rem rgb(88, 88, 88);
}
.navBar ol {
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: nowrap;
}
.navBar ol ul {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: nowrap;
}

.navBar__links--login {
  width: 220px;
}
.navBar__links--login li a:hover {
  color: rgb(230, 87, 44);
  opacity: 50%;
}

.navBar__links--center {
  width: 35%;
}
.navBar__links--center li a:hover {
  color: rgb(255, 255, 255);
  background-color: rgb(230, 87, 44);
  opacity: 50%;
  text-align: center;
  padding-left: 0.75rem;
  padding-right: 0.75rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  border-radius: 0.375rem;
  margin-left: -0.75rem;
  margin-right: -0.75rem;
}

#logoNavBar {
  width: 120px;
}

#registroButton {
  color: rgb(255, 255, 255);
  background-color: rgb(230, 87, 44);
  text-align: center;
  padding-left: 0.75rem;
  padding-right: 0.75rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  border-radius: 0.375rem;
}
#registroButton:hover {
  color: rgb(255, 255, 255);
  background-color: rgb(230, 87, 44);
  opacity: 50%;
  text-align: center;
  padding-left: 0.75rem;
  padding-right: 0.75rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  border-radius: 0.375rem;
}

@media screen and (min-width: 320px) and (max-width: 431px) {
  .navBar {
    height: 100px;
  }
  .navBar ol {
    align-items: flex-start;
    padding-top: 10px;
    padding-bottom: 10px;
  }
  .navBar__links--center {
    min-width: 80%;
    max-width: 85%;
    margin-left: -85px;
    margin-right: -190px;
    align-self: flex-end;
  }
  .navBar__links--login {
    width: 190px;
    scale: 75%;
  }
  #logoNavBar {
    width: 85px;
  }
  #registroButton {
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    padding-top: 0.4rem;
    padding-bottom: 0.4rem;
    border-radius: 0.2rem;
  }
}
@media screen and (min-width: 432px) and (max-width: 566px) {
  .navBar {
    height: 100px;
  }
  .navBar ol {
    align-items: flex-start;
    padding-top: 10px;
    padding-bottom: 10px;
  }
  .navBar__links--center {
    min-width: 75%;
    max-width: 80%;
    margin-left: -85px;
    margin-right: -190px;
    align-self: flex-end;
  }
  .navBar__links--login {
    width: 190px;
    scale: 90%;
  }
  #logoNavBar {
    width: 85px;
  }
  #registroButton {
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    padding-top: 0.4rem;
    padding-bottom: 0.4rem;
    border-radius: 0.2rem;
  }
}
@media screen and (min-width: 567px) and (max-width: 767px) {
  .navBar {
    height: 60px;
  }
  .navBar__links--center {
    width: 40%;
    scale: 95%;
  }
  .navBar__links--login {
    width: 185px;
    scale: 95%;
  }
  #logoNavBar {
    width: 80px;
  }
  #registroButton {
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    padding-top: 0.4rem;
    padding-bottom: 0.4rem;
    border-radius: 0.2rem;
  }
}
@media screen and (min-width: 768px) and (max-width: 1023px) {
  .navBar {
    height: 60px;
  }
  .navBar__links--center {
    width: 35%;
  }
  .navBar__links--login {
    width: 200px;
  }
  #logoNavBar {
    width: 100px;
  }
  #registroButton {
    padding-left: 0.6rem;
    padding-right: 0.6rem;
    padding-top: 0.45rem;
    padding-bottom: 0.45rem;
    border-radius: 0.25rem;
  }
}
.main__footer {
  position: absolute;
  min-width: 100%;
  height: 70px;
  background: rgb(230, 87, 44);
  background-position-y: bottom;
  border-top: 1px solid rgb(146, 146, 146);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: nowrap;
}

.footer__links {
  width: 200px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: nowrap;
}
.footer__links li a img {
  height: 17px;
}

.footer__mapsite {
  width: 70%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: nowrap;
}
.footer__mapsite li {
  font-weight: 200;
  color: rgb(255, 255, 255);
  font-size: 0.7rem;
}
.footer__mapsite li a {
  font-weight: 200;
  color: rgb(255, 255, 255);
  font-size: 0.7rem;
  text-decoration: none;
}
.footer__mapsite li p {
  font-weight: 200;
  margin-bottom: 0%;
}

@media screen and (min-width: 320px) and (max-width: 431px) {
  .main__footer {
    position: relative;
    margin-bottom: 0;
    height: 150px;
    flex-direction: column;
    justify-content: space-around;
  }
  .footer__links li a img {
    height: 20px;
  }
  .footer__mapsite {
    height: 65%;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: center;
  }
  .footer__mapsite li {
    font-weight: 100;
    font-size: 0.6rem;
  }
}
@media screen and (min-width: 432px) and (max-width: 566px) {
  .main__footer {
    height: 150px;
    flex-direction: column;
    justify-content: space-around;
  }
  .footer__links li a img {
    height: 20px;
  }
  .footer__mapsite {
    height: 65%;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: center;
  }
  .footer__mapsite li {
    font-weight: 100;
    font-size: 0.6rem;
  }
}
@media screen and (min-width: 567px) and (max-width: 767px) {
  .main__footer {
    height: 100px;
    flex-direction: column;
    justify-content: space-around;
  }
  .footer__links li a img {
    height: 20px;
  }
  .footer__mapsite {
    width: 100%;
  }
  .footer__mapsite li {
    font-weight: 300;
    font-size: 0.6rem;
  }
}
@media screen and (min-width: 768px) and (max-width: 1023px) {
  .main__footer {
    height: 100px;
    flex-direction: column;
    justify-content: space-around;
  }
  .footer__links li a img {
    height: 25px;
  }
  .footer__mapsite {
    width: 85%;
  }
  .footer__mapsite li {
    font-weight: 300;
    font-size: 0.7rem;
  }
}
.buscador {
  height: 200px;
  background-image: url(../imgs/logoBodyIndex.png);
  background-repeat: no-repeat;
  background-size: 175px;
  background-position-y: 30px;
  background-position-x: center;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: flex-end;
}
.buscador img {
  height: 30px;
  width: 30px;
  margin-right: 20px;
  margin-top: 7.5px;
  margin-bottom: 7.5px;
}

.buscador__barra, .buscador__barra--recetas {
  height: 40px;
  width: 490px;
  border: none;
  border-radius: 10px;
  background-color: #F0F0F0;
  padding-left: 15px;
  padding-right: 15px;
  font-size: 0.8rem;
}

.recetas {
  height: 250px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.recetas h1 {
  align-self: flex-start;
  padding-bottom: 0.7%;
}

.recetas__cards {
  height: 220px;
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
}

/* Cards Bootstrap */
.card {
  max-height: 70%;
  max-width: 15%;
  margin: 0%;
  padding: 0%;
  border: none;
}

.card-img-top {
  min-height: 70%;
  min-width: 100%;
  object-fit: cover;
  margin-bottom: -0.5rem;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

.card-body {
  max-height: 30%;
  overflow-y: visible;
  margin: 0%;
  margin-top: 1rem;
  padding: 0%;
}

.card-title {
  max-height: 20%;
  font-size: 0.975rem;
  margin-bottom: 40px;
}

.card-text {
  max-height: 80%;
  margin-top: 1rem;
  font-size: 0.75rem;
  line-height: 1rem;
}

/* -------------- */
.categorias {
  height: 250px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.categorias h2 {
  align-self: flex-start;
  padding-bottom: 0.7%;
  text-align: start;
}

.categorias__row {
  height: 50%;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-self: normal;
}

.categorias__card {
  max-width: 9%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.categorias__card img {
  height: 65%;
  width: 100%;
  object-fit: cover;
  border-top-right-radius: 15px;
  border-top-left-radius: 15px;
}
.categorias__card p {
  font-size: 0.75rem;
}

.app__ad {
  max-width: 100%;
  height: 280px;
  background-color: rgba(0, 100, 90, 0.25);
  margin-left: 70px;
  margin-right: 70px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: space-around;
  align-items: flex-start;
  background-image: url(../imgs/mockupsApp.png);
  background-size: 240px;
  background-repeat: no-repeat;
  background-position-x: 90%;
  background-position-y: center;
  padding-top: 40px;
  padding-bottom: 40px;
}
.app__ad h3 {
  font-size: 2rem;
  width: 50%;
}
.app__ad h3 strong {
  font-weight: 800;
  color: rgb(230, 87, 44);
}
.app__ad p {
  font-size: 1rem;
}

.ad__downloadLogos {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.app__androidLogo {
  height: 27.5px;
  padding-right: 15px;
}

.app__iosLogo {
  height: 27.5px;
}

.newsletter__noticia {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
}
.newsletter__noticia img {
  height: 260px;
  width: 100%;
  object-fit: cover;
  margin-bottom: -26px;
  border-radius: 15px;
}
.newsletter__noticia div {
  background-color: rgb(255, 255, 255);
  min-height: 80px;
  width: 85%;
  border: 0.012rem solid #b6b6b6;
  position: relative;
  z-index: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  box-shadow: 0rem 1.25rem 1.25rem -1.6rem rgb(88, 88, 88);
}
.newsletter__noticia div hr {
  height: 1px;
  width: 47px;
  margin: 0 auto;
}

.descripcion__titulo {
  color: rgb(0, 100, 90);
  font-style: italic;
  text-align: center;
  max-width: 80%;
  margin: 0 auto;
  font-size: 1rem;
}

.descripcion__autor {
  margin: 0 auto;
  color: rgb(230, 87, 44);
  font-size: 0.675rem;
}

.newsletter__noticia--aside {
  height: 675px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.newsletter__noticia--aside article {
  height: 100px;
  width: 100%;
  display: flex;
  align-items: flex-start;
}
.newsletter__noticia--aside article img {
  height: 80%;
  min-width: 40%;
  object-fit: cover;
  border-radius: 15px;
}
.newsletter__noticia--aside article div {
  height: 80%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.newsletter__noticia--aside article div hr {
  margin-left: 25px;
  width: 47px;
  margin-top: 0;
  margin-bottom: 0;
}

.descripcionA__titulo {
  color: rgb(0, 100, 90);
  font-style: italic;
  font-size: 0.775rem;
  padding-left: 25px;
  margin-bottom: 0;
}

.descripcionA__autor {
  color: rgb(230, 87, 44);
  font-size: 0.7rem;
  padding-left: 25px;
  margin-bottom: 0;
}

@media screen and (min-width: 320px) and (max-width: 431px) {
  .buscador {
    scale: 80%;
  }
  .buscador__barra, .buscador__barra--recetas {
    width: 80%;
  }
  .recetas {
    min-height: 700px;
    min-width: 30%;
    max-width: 100%;
  }
  .recetas h1 {
    font-size: 0.85rem;
  }
  .recetas__cards {
    flex-wrap: wrap;
    height: 100%;
  }
  .card {
    max-height: 130px;
    min-width: 33%;
    max-width: 45%;
  }
  .card-img-top {
    height: 40%;
  }
  .card-body {
    max-height: 70%;
  }
  .card-title {
    margin-bottom: 0px;
    font-size: 0.85rem;
  }
  .card-text {
    margin-top: 0.5rem;
    font-size: 0.625rem;
  }
  .categorias {
    min-height: 800px;
    min-width: 320px;
    max-width: 431px;
  }
  .categorias h2 {
    font-size: 0.9rem;
  }
  .categorias__row {
    flex-wrap: wrap;
    height: 100%;
  }
  .categorias__card {
    max-height: 60px;
    max-width: 48%;
  }
  .categorias__card p {
    font-size: 0.75rem;
  }
  .app__ad {
    height: 300;
    margin-left: 10px;
    margin-right: 10px;
    background-size: 30%;
  }
  .app__ad h3 {
    font-size: 1.2rem;
    width: 60%;
  }
  .app__ad p {
    font-size: 0.7rem;
  }
  .newsletter__noticia {
    padding-right: 10px;
  }
  .newsletter__noticia--aside {
    padding-left: 10px;
  }
}
@media screen and (min-width: 432px) and (max-width: 566px) {
  .buscador__barra, .buscador__barra--recetas {
    width: 70%;
  }
  .recetas {
    min-height: 625px;
    min-width: 30%;
    max-width: 100%;
  }
  .recetas h1 {
    font-size: 0.9rem;
  }
  .recetas__cards {
    flex-wrap: wrap;
    height: 100%;
  }
  .card {
    max-height: 150px;
    min-width: 33%;
    max-width: 45%;
  }
  .card-img-top {
    height: 40%;
  }
  .card-body {
    max-height: 70%;
  }
  .card-title {
    margin-bottom: 0px;
    font-size: 0.85rem;
  }
  .card-text {
    margin-top: 0.5rem;
    font-size: 0.575rem;
  }
  .categorias {
    min-height: 420px;
    min-width: 432px;
    max-width: 566px;
  }
  .categorias h2 {
    font-size: 0.9rem;
  }
  .categorias__row {
    flex-wrap: wrap;
    height: 100%;
  }
  .categorias__card {
    max-height: 100px;
    max-width: 19%;
  }
  .categorias__card p {
    font-size: 0.675rem;
  }
  .app__ad {
    height: 300;
    margin-left: 10px;
    margin-right: 10px;
    background-size: 30%;
  }
  .app__ad h3 {
    font-size: 1.2rem;
    width: 60%;
  }
  .app__ad p {
    font-size: 0.7rem;
  }
  .newsletter__noticia {
    padding-right: 10px;
  }
  .newsletter__noticia--aside {
    padding-left: 10px;
  }
}
@media screen and (min-width: 567px) and (max-width: 767px) {
  .recetas {
    height: 550px;
    min-width: 576px;
    max-width: 739px;
  }
  .recetas__cards {
    flex-wrap: wrap;
    height: 100%;
  }
  .card {
    max-height: 200px;
    min-width: 180px;
  }
  .card-img-top {
    height: 40%;
  }
  .card-body {
    max-height: 70%;
  }
  .card-title {
    margin-bottom: 0px;
  }
  .card-text {
    margin-top: 0.5rem;
    font-size: 0.7rem;
  }
  .categorias {
    min-height: 420px;
    min-width: 576px;
    max-width: 739px;
  }
  .categorias__row {
    flex-wrap: wrap;
    height: 100%;
  }
  .categorias__card {
    max-height: 100px;
    max-width: 19%;
  }
  .app__ad {
    height: 300;
    margin-left: 10px;
    margin-right: 10px;
  }
  .app__ad h3 {
    font-size: 1.5rem;
  }
  .app__ad p {
    font-size: 0.775rem;
  }
  .newsletter__noticia {
    padding-right: 10px;
  }
  .newsletter__noticia--aside {
    padding-left: 10px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1023px) {
  .recetas {
    height: 510px;
    min-width: 768px;
    max-width: 979px;
  }
  .recetas__cards {
    flex-wrap: wrap;
    height: 100%;
  }
  .card {
    max-height: 200px;
    min-width: 235px;
  }
  .card-img-top {
    height: 40%;
  }
  .card-body {
    max-height: 70%;
  }
  .card-title {
    margin-bottom: 0px;
  }
  .card-text {
    margin-top: 0.5rem;
    font-size: 0.7rem;
  }
  .categorias {
    height: 400px;
    min-width: 768px;
    max-width: 1023px;
  }
  .categorias__row {
    flex-wrap: wrap;
    height: 100%;
  }
  .categorias__card {
    max-height: 80px;
    max-width: 18%;
  }
  .categorias__card img {
    margin-bottom: 0.5rem;
  }
  .app__ad {
    height: 90%;
    margin-left: 20px;
    margin-right: 20px;
  }
  .descripcion__titulo {
    font-size: 0.9rem;
  }
  .descripcion__autor {
    font-size: 0.6 0.75rem;
  }
  .descripcionA__titulo {
    font-size: 0.675rem;
  }
  .descripcionA__autor {
    font-size: 0.6rem;
  }
}
@media screen and (min-width: 1024px) and (max-width: 1199px) {
  .recetas {
    height: 230px;
  }
  .recetas__cards {
    height: 100%;
  }
  .card {
    max-height: 150px;
    min-width: 15.5%;
  }
  .card-img-top {
    height: 40%;
  }
  .card-body {
    max-height: 10%;
  }
  .card-title {
    font-size: 0.875rem;
    margin-bottom: 1.4rem;
  }
  .card-text {
    font-size: 0.675rem;
    width: 100%;
  }
  .app__ad {
    height: 90%;
    margin-left: 40px;
    margin-right: 40px;
  }
}
.carousel-item {
  height: 400px;
}
.carousel-item img {
  object-fit: cover;
  transform: translateY(-30%);
}

.buscador--recetas {
  height: 150px;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
}
.buscador--recetas img {
  height: 40px;
  width: 40px;
  margin-right: 20px;
  margin-top: 7.5px;
  margin-bottom: 7.5px;
}

.buscador__barra--recetas {
  min-width: 60%;
  height: 60px;
  padding-left: 1%;
  padding-right: 1%;
  font-size: 1rem;
}

.categorias--recetas {
  height: 100%;
  padding-bottom: 2%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.recetas--recetas {
  height: 100%;
  padding-bottom: 2%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

@media screen and (min-width: 320px) and (max-width: 431px) {
  .carousel-item {
    height: 150px;
  }
  .carousel-item img {
    object-fit: cover;
    transform: translateY(-15%);
  }
  .carousel-caption h1 {
    font-size: 1.3rem;
  }
  .carousel-caption p {
    font-size: 0.675rem;
  }
  .buscador--recetas img {
    height: 20px;
    width: 20px;
  }
  .buscador__barra--recetas {
    height: 40px;
    min-width: 80%;
    font-size: 0.76rem;
  }
  .recetas--recetas {
    min-height: 700px;
    min-width: 320px;
    max-width: 431px;
  }
}
@media screen and (min-width: 432px) and (max-width: 566px) {
  .carousel-item {
    height: 200px;
  }
  .carousel-item img {
    object-fit: cover;
    transform: translateY(-30%);
  }
  .carousel-caption h1 {
    font-size: 1.3rem;
  }
  .carousel-caption p {
    font-size: 0.675rem;
  }
  .buscador--recetas img {
    height: 25px;
    width: 25px;
  }
  .buscador__barra--recetas {
    height: 45px;
    min-width: 70%;
    font-size: 0.8rem;
  }
  .recetas--recetas {
    min-height: 625px;
    min-width: 432px;
    max-width: 566px;
  }
}
@media screen and (min-width: 567px) and (max-width: 767px) {
  .carousel-item {
    height: 200px;
  }
  .carousel-item img {
    object-fit: cover;
    transform: translateY(-30%);
  }
  .carousel-caption h1 {
    font-size: 1.3rem;
  }
  .carousel-caption p {
    font-size: 0.675rem;
  }
  .buscador--recetas img {
    height: 25px;
    width: 25px;
  }
  .buscador__barra--recetas {
    height: 45px;
    min-width: 70%;
    font-size: 0.8rem;
  }
  .recetas--recetas {
    min-height: 550px;
    min-width: 576px;
    max-width: 739px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1023px) {
  .carousel-item {
    height: 300px;
  }
  .carousel-item img {
    object-fit: cover;
    transform: translateY(-30%);
  }
  .carousel-caption h1 {
    font-size: 1.3rem;
  }
  .carousel-caption p {
    font-size: 0.675rem;
  }
  .buscador__barra--recetas {
    min-width: 70%;
    height: 55px;
  }
  .recetas--recetas {
    min-height: 510px;
    min-width: 768px;
    max-width: 979px;
  }
}
@media screen and (min-width: 1024px) and (max-width: 1199px) {
  .recetas--recetas {
    height: 280px;
  }
}
.info__texto {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.info__texto h1 {
  font-size: 2.25rem;
}
.info__texto p {
  font-size: 1rem;
  font-weight: 400;
  text-align: justify;
}
.info__texto p strong {
  color: rgb(230, 87, 44);
  font-weight: 650;
}

.section__funct {
  height: 300px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;
}
.section__funct div {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}
.section__funct div img {
  width: 50px;
}
.section__funct div p {
  font-size: 0.85rem;
  padding-left: 5%;
  margin-bottom: 0px;
}
.section__funct div p strong {
  color: rgb(0, 100, 90);
  font-weight: 900;
}

#carouselExampleSlidesOnly {
  height: 100%;
  margin-bottom: -55px;
}

@media screen and (min-width: 320px) and (max-width: 431px) {
  .info__texto {
    padding-right: 10px;
  }
  .info__texto h1 {
    font-size: 1.5rem;
  }
  .info__texto p {
    font-size: 0.7rem;
  }
  .section__funct {
    padding-left: 10px;
  }
  .section__funct div img {
    width: 40px;
  }
  .section__funct div p {
    font-size: 0.675rem;
  }
  #carouselExampleSlidesOnly {
    margin-bottom: -55px;
  }
}
@media screen and (min-width: 432px) and (max-width: 566px) {
  .info__texto {
    padding-right: 10px;
  }
  .info__texto h1 {
    font-size: 2rem;
  }
  .info__texto p {
    font-size: 0.85rem;
  }
  .section__funct {
    padding-left: 10px;
  }
  #carouselExampleSlidesOnly {
    margin-bottom: -85px;
  }
}
@media screen and (min-width: 567px) and (max-width: 767px) {
  .info__texto {
    padding-right: 10px;
  }
  .section__funct {
    padding-left: 10px;
  }
}
.contacto__texto {
  height: 600px;
  width: 90%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding-top: 70px;
  padding-bottom: 70px;
  background-image: url(../imgs/logoBodyIndex.png);
  background-repeat: no-repeat;
  background-size: 250px;
  background-position-y: 90%;
  background-position-x: 70px;
}
.contacto__texto h1 {
  font-size: 2rem;
  padding-bottom: 20px;
}
.contacto__texto p {
  font-size: 0.95rem;
  width: 100%;
  padding-bottom: 10px;
}
.contacto__texto p:nth-child(4) {
  font-weight: 700;
  font-style: italic;
}

.contacto__form {
  height: 600px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;
  padding-top: 70px;
  padding-bottom: 70px;
}

.contacto__form {
  height: 600px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;
  padding-top: 70px;
  padding-bottom: 70px;
}

#form__nombre {
  min-width: 90%;
  height: 3.5rem;
  border: none;
  border-radius: 0.86rem;
  background-color: #F0F0F0;
  font-size: 1rem;
  padding-left: 1.393rem;
}

#form__email {
  min-width: 90%;
  height: 3.5rem;
  border: none;
  border-radius: 0.86rem;
  background-color: #F0F0F0;
  font-size: 1rem;
  padding-left: 1.393rem;
}

#form__mensaje {
  min-width: 90%;
  height: 15rem;
  border: none;
  border-radius: 0.86rem;
  background-color: #F0F0F0;
  font-size: 1rem;
  padding-left: 1.393rem;
  padding-top: 1.5rem;
}

#boton__submit {
  padding: 0.6rem;
  padding-right: 2.3rem;
  padding-left: 2.3rem;
  margin-right: 1rem;
  font-size: 1rem;
  color: rgb(255, 255, 255);
  background-color: rgb(0, 100, 90);
  border: none;
  border-radius: 0.375rem;
  text-align: center;
}
#boton__submit:hover {
  opacity: 75%;
}

#boton__reset {
  padding: 0.6rem;
  padding-right: 2.3rem;
  padding-left: 2.3rem;
  margin-right: 1rem;
  font-size: 1rem;
  color: rgb(255, 255, 255);
  background-color: rgb(0, 100, 90);
  border: none;
  border-radius: 0.375rem;
  text-align: center;
}
#boton__reset:hover {
  opacity: 75%;
}

@media screen and (min-width: 320px) and (max-width: 431px) {
  .contacto__texto {
    padding-top: 20px;
    height: 500px;
    background-position-x: center;
  }
  .contacto__texto h1 {
    font-size: 1.4rem;
  }
  .contacto__texto p {
    font-size: 0.75rem;
  }
  .contacto__form {
    align-items: center;
    padding-left: -10px;
  }
}
@media screen and (min-width: 432px) and (max-width: 566px) {
  .contacto__texto {
    padding-top: 20px;
    height: 500px;
    background-position-x: center;
  }
  .contacto__texto h1 {
    font-size: 1.8rem;
  }
  .contacto__texto p {
    font-size: 0.9rem;
  }
  .contacto__form {
    align-items: center;
    padding-left: -10px;
  }
}
@media screen and (min-width: 567px) and (max-width: 767px) {
  .contacto__texto {
    height: 500px;
    background-position-x: center;
    padding-top: 20px;
    padding-bottom: 20px;
  }
  .contacto__texto h1 {
    font-size: 2rem;
    padding-bottom: 30px;
  }
  .contacto__texto p {
    font-size: 1.2rem;
  }
  .contacto__form {
    align-items: center;
    padding-left: -10px;
  }
  #form__mensaje {
    height: 15rem;
  }
}
.section__sesion {
  height: 550px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.section__sesion h1 {
  width: 80%;
  text-align: center;
  font-size: 1.5rem;
}

#boton__login {
  padding: 0.6rem;
  padding-right: 2.3rem;
  padding-left: 2.3rem;
  margin-right: 1rem;
  font-size: 1rem;
  color: rgb(255, 255, 255);
  background-color: rgb(0, 100, 90);
  border: none;
  border-radius: 0.375rem;
  text-align: center;
}
#boton__login:hover {
  opacity: 75%;
}

.sesion__texto {
  padding-bottom: 15%;
  text-align: center;
}
.sesion__texto p {
  font-size: 0.8rem;
}
.sesion__texto a {
  text-decoration: underline;
  color: black;
  font-size: 0.8rem;
}

@media screen and (min-width: 320px) and (max-width: 431px) {
  .section__sesion h1 {
    font-size: 1.2rem;
    width: 100%;
  }
  #boton__login {
    margin-left: 5%;
  }
}
@media screen and (min-width: 432px) and (max-width: 566px) {
  .section__sesion h1 {
    font-size: 1.2rem;
    width: 100%;
  }
  #boton__login {
    margin-left: 5%;
  }
}
@media screen and (min-width: 567px) and (max-width: 767px) {
  #boton__login {
    margin-left: 5%;
  }
}

/*# sourceMappingURL=estilos.css.map */
