* {
    padding: 0;
    margin: 0;
}

.noBullet {
    list-style-type: none;
    padding-inline: 0%;
}

.robotoRegular {
    font-size: 0.7rem;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-style: normal;
    text-decoration: none;
}

.robotoSemibold {
    font-size: 0.8rem;
    font-family: 'Roboto', sans-serif;
    font-weight: 600;
    font-style: normal;
    text-decoration: none;
    color: RGB(230, 87, 44);
}

.robotoBold {
    font-size: 1rem;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-style: normal;
    text-decoration: none;
}

.manropeMedium {
    font-family: 'Manrope', sans-serif;
    font-weight: 500;
    font-style: normal;
    text-decoration: none;
}

@media screen and (min-width: 320px) and (max-width: 431px) {
    .robotoSemibold {
        font-weight: 550;   
        font-size: 0.7rem;
    }
}

@media screen and (min-width: 432px) and (max-width: 566px) {
    .robotoSemibold {
        font-weight: 550;   
        font-size: 0.7rem;
    }
}

@media screen and (min-width: 567px) and (max-width: 767px) {
    .robotoSemibold {
        font-weight: 550;   
        font-size: 0.7rem;
    }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
    .robotoSemibold {
        font-weight: 550;
        font-size: 0.7rem;
    }
}

