$color-primario: rgb(230, 87, 44);
$color-secundario: rgb(0, 100, 90, 1);
$color-blanco: rgb(255, 255, 255);

@mixin flex_R-SB-C-NW {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-wrap: nowrap;
}