@use '../utilities';

.main__grid {
    @include utilities.grid_base;
    @include utilities.grid_gaps;
    grid-template-columns: 1.4fr 1fr;
    grid-template-rows: 0.25fr 0.85fr repeat(2, 1fr) 1.4fr repeat(2, 1.6fr) 0.6fr;
    grid-template-areas:
        "header header"
        "section-buscador section-buscador"
        "section-recetas section-recetas"
        "section-categorias section-categorias"
        "section-app section-app"
        "section-newsUno section-newsAside"
        "section-newsDos section-newsAside"
        "footer footer"
    ;
}

.main__grid--recetas {
    @include utilities.grid_base;
    grid-template-rows: 0.25fr 1.3fr 0.5fr repeat(2, 1fr) 0.6fr;
    grid-template-areas:
        "header"
        "section-carousel"
        "section-buscador"
        "section-categorias"
        "section-recetas"
        "footer"
    ;
}

.main__grid--sobreNosotros {
    @include utilities.grid_base;
    @include utilities.grid_gaps;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 0.25fr repeat(2, 1fr) 0.6fr;
    grid-template-areas:
        "header header"
        "section-infoSN section-asideSN"
        "section-carousel section-carousel"
        "footer footer"
    ;
}

.main__grid--contacto {
    @include utilities.grid_base;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 0.25fr 1fr 0.6fr;
    grid-template-areas:
        "header header"
        "section-formText section-form"
        "footer footer"
    ;
}

.main__grid--sesion {
    @include utilities.grid_base;
    grid-template-columns: 0.5fr 1fr 0.5fr;
    grid-template-rows: 0.25fr 1fr 0.6fr;
    grid-template-areas:
        "header header header"
        ". sesion-form ."
        "footer footer footer"
    ;
}

.grid__header {
    grid-area: header;
}

.grid__footer {
    grid-area: footer;
}

.grid__buscador {
    grid-area: section-buscador;
}

.grid__recetas {
    grid-area: section-recetas;
}

.grid__categorias {
    grid-area: section-categorias;
}

.grid__app {
    grid-area: section-app;
}

.grid__newsUno {
    grid-area: section-newsUno;
}

.grid__newsDos {
    grid-area: section-newsDos;
}

.grid__newsAside {
    grid-area: section-newsAside;
}

.grid__carousel {
    grid-area: section-carousel;
}

.grid__infoSN {
    grid-area: section-infoSN;
}

.grid__asideSN {
    grid-area: section-asideSN;
}

.grid__formText {
    grid-area: section-formText;
}

.grid__form {
    grid-area: section-form;
}

.grid__sesion {
    grid-area: sesion-form;
}

.grid__padding--left {
    padding-left: 70px;
}

.grid__padding--right {
    padding-right: 70px;
}

@media screen and (min-width: 320px) and (max-width: 431px) {
    .main__grid {
        display: grid;
        row-gap: 20px;
        height: 300px;
        grid-template-columns: 1fr;
        grid-template-rows: 0.25fr 0.85fr repeat(2, 1fr) 1.4fr repeat(3, 1.6fr) 0.6fr;
        grid-template-areas:
            "header"
            "section-buscador"
            "section-recetas"
            "section-categorias"
            "section-app"
            "section-newsUno"
            "section-newsDos"
            "section-newsAside"
            "footer"
        ;
    }

    .main__grid--sobreNosotros {
        display: grid;
        row-gap: 20%;
        height: 275px;
        grid-template-columns: 1fr;
        grid-template-rows: 0.25fr repeat(3, 1fr) 0.6fr;
        grid-template-areas:
            "header"
            "section-infoSN"
            "section-asideSN"
            "section-carousel"
            "footer"
        ;
    }

    .main__grid--contacto{
        display: grid;
        row-gap: 20%;
        height: 100px;
        grid-template-columns: 1fr;
        grid-template-rows: 0.25fr repeat(2, 1fr) 0.6fr;
        grid-template-areas:
            "header"
            "section-formText"
            "section-form"
            "footer"
        ;
    }

    .main__grid--sesion {
        display: grid;
        height: 275px;
        grid-template-columns: 0.1fr 1fr 0.1fr;
        grid-template-rows: 0.25fr 1fr 0.6fr;
        grid-template-areas:
        "header header header"
        ". sesion-form ."
        "footer footer footer"
        ;
    }

    .grid__padding--left {
        padding-left: 10px;
    }

    .grid__padding--right {
        padding-right: 10px;
    }
}

@media screen and (min-width: 432px) and (max-width: 566px) {
    .main__grid {
        display: grid;
        row-gap: 30px;
        height: 300px;
        grid-template-columns: 1fr;
        grid-template-rows: 0.25fr 0.85fr repeat(2, 1fr) 1.4fr repeat(3, 1.6fr) 0.6fr;
        grid-template-areas:
            "header"
            "section-buscador"
            "section-recetas"
            "section-categorias"
            "section-app"
            "section-newsUno"
            "section-newsDos"
            "section-newsAside"
            "footer"
        ;
    }

    .main__grid--sobreNosotros {
        display: grid;
        row-gap: 20%;
        height: 275px;
        grid-template-columns: 1fr;
        grid-template-rows: 0.25fr repeat(3, 1fr) 0.6fr;
        grid-template-areas:
            "header"
            "section-infoSN"
            "section-asideSN"
            "section-carousel"
            "footer"
        ;
    }

    .main__grid--contacto{
        display: grid;
        row-gap: 20%;
        height: 100px;
        grid-template-columns: 1fr;
        grid-template-rows: 0.25fr repeat(2, 1fr) 0.6fr;
        grid-template-areas:
            "header"
            "section-formText"
            "section-form"
            "footer"
        ;
    }

    .main__grid--sesion {
        display: grid;
        height: 275px;
        grid-template-columns: 0.1fr 1fr 0.1fr;
        grid-template-rows: 0.25fr 1fr 0.6fr;
        grid-template-areas:
        "header header header"
        ". sesion-form ."
        "footer footer footer"
        ;
    }

    .grid__padding--left {
        padding-left: 10px;
    }

    .grid__padding--right {
        padding-right: 10px;
    }
}

@media screen and (min-width: 567px) and (max-width: 767px) {
    .main__grid {
        display: grid;
        row-gap: 30px;
        height: 300px;
        grid-template-columns: 1fr;
        grid-template-rows: 0.25fr 0.85fr repeat(2, 1fr) 1.4fr repeat(3, 1.6fr) 0.6fr;
        grid-template-areas:
            "header"
            "section-buscador"
            "section-recetas"
            "section-categorias"
            "section-app"
            "section-newsUno"
            "section-newsDos"
            "section-newsAside"
            "footer"
        ;
    }

    .main__grid--sobreNosotros {
        display: grid;
        row-gap: 20%;
        height: 275px;
        grid-template-columns: 1fr;
        grid-template-rows: 0.25fr repeat(3, 1fr) 0.6fr;
        grid-template-areas:
            "header"
            "section-infoSN"
            "section-asideSN"
            "section-carousel"
            "footer"
        ;
    }

    .main__grid--contacto{
        display: grid;
        row-gap: 20%;
        height: 275px;
        grid-template-columns: 1fr;
        grid-template-rows: 0.25fr repeat(2, 1fr) 0.6fr;
        grid-template-areas:
            "header"
            "section-formText"
            "section-form"
            "footer"
        ;
    }

    .main__grid--sesion {
        display: grid;
        height: 275px;
        grid-template-columns: 0.1fr 1fr 0.1fr;
        grid-template-rows: 0.25fr 1fr 0.6fr;
        grid-template-areas:
        "header header header"
        ". sesion-form ."
        "footer footer footer"
        ;
    }   

    .grid__padding--left {
        padding-left: 10px;
    }

    .grid__padding--right {
        padding-right: 10px;
    }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
    .main__grid {
        grid-template-columns: 1.2fr 1fr;
        row-gap: 20px;
    }

    .grid__padding--left {
        padding-left: 20px;
    }

    .grid__padding--right {
        padding-right: 20px;
    }
}

@media screen and (min-width: 1024px) and (max-width: 1199px) {
    .main__grid {
        row-gap: 40px;
    }

    .grid__padding--left {
        padding-left: 40px;
    }

    .grid__padding--right {
        padding-right: 40px;
    }
}